body {
  font-family: Arial, sans-serif;
  background: url("./assets/background.jpg");
}

.app {
  width: 400px;
  margin: 50px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

.input-section {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 8px;
}

button {
  padding: 6px 10px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.completed span {
  text-decoration: line-through;
  color: gray;
}

